<h1>Payments & Subscriptions</h1>

<h2>Upgrade</h2>
<ul>
    <li><%= link "Subscriber", to: "/payment/stripe/subscriber" %></li>
    <li><%= link "Premium", to: "/payment/stripe/premium" %></li>
</ul>