<h1>My Dashboard</h1>

<section>
    <select>
        <%= for streamer <- @managed_streamers do %>
            <option value={streamer.id}>
                <%= streamer.name %>
            </option>
        <% end %>
    </select>
</section>