<h1>My Dashboard</h1>

<section>
    <select phx-change="select_streamer">
        <option>
            Select a streamer...
        </option>
        <%= for streamer <- @managed_streamers do %>
            <option value={streamer.id} selected={if @selected_streamer_id == streamer.id, do: "selected"}>
                <%= streamer.name %>
            </option>
        <% end %>
    </select>
    <%= if @selected_streamer do %>
        <%= @inner_content %>
    <% end %>
</section>