<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="csrf-token" content={csrf_token_value()}>
    <%= live_title_tag assigns[:page_title] || "Streamaze", prefix: "🌶 · " %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body class="h-screen px-6 max-w-4xl mx-auto bg-gray-900 text-white">
    <header>
      <div class="py-6 justify-between flex items-center">
        <span>
          <%= link "Streamaze", to: Routes.page_path(@conn, :index), class: "text-2xl font-bold text-white" %>
        </span>
        <div class="gap-4 flex flex-row">
          <span>
            Signed in as Zane
          </span>
          <span>
            <%= link "My profile", to: "#" %>
          </span>
          ·
          <span>
            <%= link "Sign out", to: "#" %>
          </span>
        </div>
      </div>
    </header>
    <%= @inner_content %>
  </body>
</html>
