<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://js.stripe.com/v3/"></script>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="csrf-token" content={csrf_token_value()}>
    <%= live_title_tag assigns[:page_title] || "Streamaze", prefix: "🌶 · " %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body class="h-screen px-6 max-w-4xl mx-auto bg-gray-900 text-white">
    <header>
      <div class="py-6 justify-between flex items-center">
        <span>
          <%= link "Streamaze", to: Routes.page_path(@conn, :index), class: "text-2xl font-bold text-white" %>
        </span>
        <div class="gap-4 flex flex-row">
          <%= if @current_user do %>
            <div class="flex flex-col text-right">
              <span>
                Signed in as <%= @current_user.email %>
              </span>
              <div>
                <span>
                  <%= link "My account", to: Routes.user_settings_path(@conn, :edit) %>
                </span>
                ·
                <span>
                  <%= link "Sign out", to: Routes.user_session_path(@conn, :delete), method: :delete %>
                </span>
              </div>
            </div>
          <% else %>
            <span>
              <%= link "Sign in", to: Routes.user_session_path(@conn, :new) %>
            </span>
            ·
            <span>
              <%= link "Sign up", to: Routes.user_registration_path(@conn, :new) %>
            </span>
          <% end %>
        </div>
      </div>
    </header>
    <%= @inner_content %>
  </body>
</html>
