<h5 class="text-xl font-medium text-gray-900 dark:text-white">Confirm Account</h5>

<.form let={_f} for={:user} action={Routes.user_confirmation_path(@conn, :update, @token)}>
  <div>
    <%= submit "Click to confirm your account" %>
  </div>
</.form>
