<h5 class="text-xl font-medium text-gray-900 dark:text-white">Resend Confirmation</h5>

<.form let={f} for={:user} action={Routes.user_confirmation_path(@conn, :create)}>
  <%= label f, :email %>
  <%= email_input f, :email, required: true %>

  <div>
    <%= submit "Resend confirmation instructions" %>
  </div>
</.form>
